.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  color: #08A6E4;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  background-color: white;
  z-index: 10;
}
.navbar__title {
  display: inline-block;
  margin: 0 0 0 25px;
  font-family: Raleway;
  font-size: 2rem;
  font-weight: 300;
  line-height: 37px;
  text-align: left;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
.navbar__menu-button {
  display: inline-block;
  border: none;
  margin: 0 25px 0 0;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}

.header {
  position: relative;
  top: 70px;
  text-align: center;
  padding-top: 5.8em;
}
.header__title {
  font-family: Raleway;
  font-size: 35px;
  font-weight: 400;
  line-height: 41.09px;
  text-align: center;
  margin-bottom: 0.8em;
}
.header__subtitle {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  margin: 0 2.6em;
  margin-bottom: 2em;
}
.header__button {
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  background-color: #08A6E4;
  border-radius: 40px;
  border: none;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: white;
  width: 310px;
  height: 67px;
  margin-bottom: 3em;
}
.header__media__img {
  width: min(500px, 100%);
  height: auto;
  display: inline-block;
}

.main__overview__article {
  position: relative;
}
.main__overview__title {
  font-family: Raleway;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
  margin: 0 2.4em;
  margin-bottom: 1.3em;
}
.main__overview__article--entries {
  position: relative;
  margin-bottom: 1.4em;
}
.main__overview__article--entries .overview__article__media__bottom__img {
  width: min(62px, 100%);
  height: auto;
  display: inline-block;
}
.main__overview__article--entries .overview__article__media__top {
  position: absolute;
  top: -8px;
  left: calc(50% - 25px);
}
.main__overview__article--entries .overview__article__media__top__img {
  width: min(62px, 100%);
  height: auto;
  display: inline-block;
  transform: scale(0.7);
}
.main__overview__article--products {
  position: relative;
  margin-bottom: 1.4em;
}
.main__overview__article--products .overview__article__media__bottom__img {
  width: min(62px, 100%);
  height: auto;
  display: inline-block;
}
.main__overview__article--products .overview__article__media__top {
  position: absolute;
  top: 12px;
  left: calc(50% - 11px);
}
.main__overview__article--products .overview__article__media__top__img {
  width: min(62px, 100%);
  height: auto;
  display: inline-block;
  transform: scale(1);
}
.main__overview__article--posts {
  position: relative;
  margin-bottom: 4em;
}
.main__overview__article--posts .overview__article__media__bottom__img {
  width: min(62px, 100%);
  height: auto;
  display: inline-block;
}
.main__overview__article--posts .overview__article__media__top {
  position: absolute;
  top: 6px;
  left: calc(50% - 1px);
}
.main__overview__article--posts .overview__article__media__top__img {
  width: min(62px, 100%);
  height: auto;
  display: inline-block;
  transform: scale(1);
}
.main__overview .overview__article__content--primary {
  font-family: Raleway;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 5.9600000381px;
  text-align: center;
  margin-top: 0.6em;
}
.main__overview .overview__article__content--secondary {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #A5A5A5;
  margin-top: 0.8em;
}

.main__about {
  background-color: #F7F7F7;
  padding-top: 40px;
  padding-bottom: 0.5em;
}
.main__about__article--laptop {
  position: relative;
  margin: 0 2em 2.8em;
  background-color: white;
  border: 1px solid #E8E9ED;
}
.main__about__article--laptop .about__article__media__container {
  position: relative;
  margin-top: 1em;
}
.main__about__article--laptop .about__article__media__bottom__img {
  width: min(192px, 100%);
  height: auto;
  display: inline-block;
  padding-top: 1.2em;
  position: relative;
  z-index: 6;
}
.main__about__article--laptop .about__article__media__top__img {
  height: auto;
  width: 89px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: calc(50% + 10px);
  z-index: 0;
}
.main__about__article--mobile {
  position: relative;
  margin: 0 2em 2.8em;
  background-color: white;
  border: 1px solid #E8E9ED;
}
.main__about__article--mobile .about__article__media__container {
  position: relative;
  margin-top: 0.6em;
}
.main__about__article--mobile .about__article__media__bottom__img {
  width: min(131px, 100%);
  height: auto;
  display: inline-block;
  padding-top: 0;
  position: relative;
  z-index: 0;
}
.main__about__article--mobile .about__article__media__top__img {
  height: auto;
  width: 175px;
  display: inline-block;
  position: absolute;
  top: 6px;
  left: calc(50% - 65px);
  z-index: 1;
}
.main__about__article--trumpet {
  position: relative;
  margin: 0 2em 2.8em;
  background-color: white;
  border: 1px solid #E8E9ED;
}
.main__about__article--trumpet .about__article__media__container {
  position: relative;
  margin-top: 0;
}
.main__about__article--trumpet .about__article__media__bottom__img {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-top: 0;
  position: relative;
  z-index: 0;
}
.main__about__article--trumpet .about__article__media__top__img {
  height: auto;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 1.4em;
  left: -1em;
  z-index: 1;
}
.main__about .about__article__content--primary {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.22px;
  text-align: left;
  margin-top: 1em;
  padding: 0 1em;
}
.main__about .about__article__content--secondary {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  padding: 0 1.2em 1.6em 1.2em;
}

.main__pricing {
  text-align: center;
}
.main__pricing__title {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  text-align: center;
  margin-top: 1.6em;
  margin-bottom: 0.4em;
}
.main__pricing__article--basic {
  position: relative;
  width: 293px;
  height: 251px;
  border-radius: 18px;
  border: 1px solid #EB476E;
  margin: 0 auto;
  margin-bottom: 3.5em;
}
.main__pricing__article--basic .pricing__article__pack {
  display: inline-block;
  width: 45%;
  position: relative;
  left: -0.4em;
  top: 0.3em;
}
.main__pricing__article--basic .pricing__article__pack__title {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.main__pricing__article--basic .pricing__article__pack__value {
  font-family: Open Sans;
  font-size: 46px;
  font-weight: 300;
  line-height: 64px;
  color: #EB476E;
}
.main__pricing__article--basic .pricing__article__pack__offer {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.09px;
}
.main__pricing__article--basic .pricing__article__features {
  display: inline-block;
  position: relative;
  top: 2.4em;
  left: 0em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.main__pricing__article--basic .pricing__article__features__item {
  padding-bottom: 1em;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
}
.main__pricing__article--basic .pricing__article__features__item__img {
  margin-right: 0.8em;
}
.main__pricing__article--basic .pricing__article__button {
  position: absolute;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #EB476E;
  color: white;
  border: none;
}
.main__pricing__article--professional {
  position: relative;
  width: 293px;
  height: 251px;
  border-radius: 18px;
  border: 1px solid #08A6E4;
  margin: 0 auto;
  margin-bottom: 3.5em;
}
.main__pricing__article--professional .pricing__article__pack {
  display: inline-block;
  width: 44%;
  position: relative;
  left: -0.1em;
  top: 1.6em;
}
.main__pricing__article--professional .pricing__article__pack__title {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.main__pricing__article--professional .pricing__article__pack__value {
  font-family: Open Sans;
  font-size: 46px;
  font-weight: 300;
  line-height: 64px;
  color: #08A6E4;
}
.main__pricing__article--professional .pricing__article__pack__offer {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.09px;
}
.main__pricing__article--professional .pricing__article__features {
  display: inline-block;
  position: relative;
  top: 2.4em;
  left: 0em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.main__pricing__article--professional .pricing__article__features__item {
  padding-bottom: 1em;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
}
.main__pricing__article--professional .pricing__article__features__item__img {
  margin-right: 0.8em;
}
.main__pricing__article--professional .pricing__article__button {
  position: absolute;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #08A6E4;
  color: white;
  border: none;
}
.main__pricing__article--premium {
  position: relative;
  width: 293px;
  height: 251px;
  border-radius: 18px;
  border: 1px solid #55DFB4;
  margin: 0 auto;
  margin-bottom: 3.5em;
}
.main__pricing__article--premium .pricing__article__pack {
  display: inline-block;
  width: 45%;
  position: relative;
  left: -0.2em;
  top: 1.8em;
}
.main__pricing__article--premium .pricing__article__pack__title {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.main__pricing__article--premium .pricing__article__pack__value {
  font-family: Open Sans;
  font-size: 46px;
  font-weight: 300;
  line-height: 64px;
  color: #55DFB4;
}
.main__pricing__article--premium .pricing__article__pack__offer {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.09px;
}
.main__pricing__article--premium .pricing__article__features {
  display: inline-block;
  position: relative;
  top: 2.4em;
  left: 0em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.main__pricing__article--premium .pricing__article__features__item {
  padding-bottom: 1em;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
}
.main__pricing__article--premium .pricing__article__features__item__img {
  margin-right: 0.8em;
}
.main__pricing__article--premium .pricing__article__button {
  position: absolute;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #55DFB4;
  color: white;
  border: none;
}

.main__contact {
  text-align: left;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 3em;
}
.main__contact__title {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 400;
  line-height: 46.96px;
  margin-bottom: 0.1em;
  margin-top: 2em;
}
.main__contact__subtitle {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 2em;
}
.main__contact__info {
  margin-bottom: 3.5em;
}
.main__contact__info .contact__info {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #A5A5A5;
  position: relative;
  padding-left: 2.2em;
  margin-bottom: 1em;
}
.main__contact__info .contact__info__img {
  position: absolute;
  top: 0;
  left: 0;
}
.main__contact__form {
  /* HTML5 Boilerplate accessible hidden styles */
}
.main__contact__form .contact__form__label {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
  text-align: left;
  margin-top: 3em;
  margin-bottom: 1em;
  letter-spacing: 3.2799999714px;
  text-transform: uppercase;
  display: block;
  color: #08A6E4;
}
.main__contact__form .contact__form__input {
  width: 100%;
  border: none;
  height: 28px;
  outline: 0px solid transparent;
  display: block;
  border-bottom: 1px solid #95989A;
}
.main__contact__form .contact__form__checkbox {
  margin-top: 3em;
}
.main__contact__form .checkbox__label {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  text-align: left;
  display: inline-block;
  letter-spacing: unset;
  text-transform: unset;
  color: #707070;
  width: 85%;
  margin-left: 0.6em;
}
.main__contact__form .checkbox__box__input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.main__contact__form .checkbox__box {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
}
.main__contact__form .checkbox__box input:checked + label > svg {
  height: 100%;
}
.main__contact__form .checkbox__box label:active::after {
  background-color: #F7F7F7;
}
.main__contact__form .checkbox__box label {
  color: #707070;
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.main__contact__form .checkbox__box label:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border: 2px solid #95989A;
  border-radius: 0.3em;
  box-sizing: border-box;
}
.main__contact__form .checkbox__box svg {
  stroke: #08A6E4;
  stroke-width: 2px;
  height: 0;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 0;
  stroke-dasharray: 33;
  transform: rotateY(30deg) translateX(calc(-50% - 1px));
}
.main__contact__form .contact__form__submit {
  width: 17em;
  height: 57px;
  border-radius: 35px;
  background: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border: none;
  color: white;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  margin-top: 2.4em;
}

.main {
  position: relative;
  top: 70px;
  text-align: center;
  padding-top: 1em;
}

.footer {
  position: relative;
  top: 70px;
  display: block;
  height: 89px;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
}
.footer__text {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1.3em;
}
.footer__text__company {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  color: #08A6E4;
}
.footer__text__copyright {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 400;
  line-height: 14.98px;
  text-align: left;
  color: #A5A5A5;
}
.footer__social-media {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 1.7em;
}
.footer__social-media__media--left {
  display: inline-block;
  margin-right: 1em;
}
.footer__social-media__media {
  display: inline-block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=styles.css.map */
