
@import "./styles/abstracts/variables";
@import "./styles/layout/navbar";
@import "./styles/layout/header";
@import "./styles/layout/main.scss";
@import "./styles/layout/footer.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  min-width: 320px;
}

@media only screen and (min-width: 1000px) {
  
  .header {
    padding-top: 6.2em;
    
    &__title {
      font-size: 3em;
    }

    &__button {
      width: 27.5em;
    }

    &__media {
      height: 37vw;
      background-size: cover;
      background-image: url("./images/Background 2.png");
    }
  }

}
