
@import "./styles/abstracts/variables";
@import "./styles/layout/navbar";
@import "./styles/layout/header";
@import "./styles/layout/main.scss";
@import "./styles/layout/footer.scss";

@mixin pricing-article-hover($color) {
  box-shadow: 5px 10px 27px 0px rgba($color, 0.3);
  width: 405px;
  height: 524px;
  top: -1em;

  .pricing__article__button {
    width: 165px;
    height: 50px;
    border-radius: 23px;
    box-shadow: 5px 10px 14px 0px rgba($color, 0.3);
  }

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  min-width: 320px;
}

@media only screen and (min-width: 1000px) {
  
  .navbar {
    &__title {
      margin-left: 4.2em;
    }

    &__menu-button {
      display: none;
    }

    &__menu-sections {
      display: flex;
      margin-right: 5.2em;

      &__item:hover {
        color:black;

        hr {
          background: $color-1;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.3em;
        }

      }

    }
    
  }

  .header {
    padding-top: 6.2em;
    
    &__title {
      font-size: 3rem;
    }

    &__button {
      width: 27.5em;
      margin: 0;
    }

    &__media {
      height: 41vw;
      max-height: 594px;
      background-size: cover;
      background-image: url("./images/Background 2.png");
    }
  }

  .main__overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__title {
      margin: 0em auto 3em;
      width: 100%;
    }

    &__article--entries, &__article--products,&__article--posts {
      margin: 0 4.5em 7em;
    }

  }

  .main__about {
    display: flex;
    flex-direction: column;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 3em;

    .article__container__content--primary, .article__container__content--secondary {
      margin-top: 3em !important;
    
    }

    &__article--laptop, &__article--mobile, &__article--trumpet {
      display: flex;
      flex-direction: row;
      margin: 0 auto 2em;
      max-width: 1126px;
      height: 370px;

    }

    .about__article__container, .about__article__media__container {
      width: 50%;
    }

    .about__article__media__container--mobile {
      display: none;
    }

    &__article--laptop {
      flex-direction: row-reverse;
      justify-content: space-between;

      .about__article__media__container--landscape {
        display: inline-block;
        position: relative;
        margin-bottom: 2em;

        .about__article__media{
          
          &__bottom__img {
            width: 100%;
            max-width: 320px;
            margin-right: 7.5em;
            margin-top: 7em;
            padding-top: 0;
 
          }

          &__top__img {
            width: 255px;
            top: 1.8em;
            left: 7em;
            
          }
        
        }

      }

    }

    &__article--mobile {
      justify-content: space-between;

      .about__article__media__container--landscape {
        display: inline-block;
        position: relative;
        margin-bottom: 2em;

        .about__article__media{
          
          &__bottom__img {
            // width: 320px;
            width: 100%;
            max-width: 320px;
            margin-left: 4.3em;
            margin-top: 0.8em;
 
          }

          &__top__img {
            width: 426px;
            top: 1.8em;
            left: 4.5em;
            
          }
        
        }

      }

    }

    &__article--trumpet {
      background: transparent;
      border: unset;

      .about__article__container {
        background: white;
        border: 1px solid #E8E9ED;
        flex-grow: 1;
      }

      .about__article__media__container {
        margin-left: 2em;
        width: 40%;
      }

      .about__article__media__container--landscape {
        display: inline-block;
        position: relative;
        margin-top: 0;
        margin-left: 3.5em;
        width: 40%;

        .about__article__media {
          &__bottom__img {
            height: 100%;
          }

          &__top__img {
            transform: scale(0.7) translate(-50%, -50%);
            transform-origin: top left;
            top: 56%;
            left: 45%;
          }

        }
        
      }

    }

    .article__container__content__hr {
        display: block;
    }

  }

  .main__pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__title { 
      width: 100%;
      margin-bottom: 1.5em;
      margin-top: 3em;
      
    }

    &__article--basic, &__article--professional, &__article--premium {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 485px;
      width: 372px;
      margin: 0 2em 3.5em;
      padding-top: 2em;
      
    }

    .pricing__article {
      
      &__pack {
        top: 0em;
      }

      &__features {
        top: 0em;
        margin-bottom: 3em;
      }

      &__features__item {
        padding-bottom: 1.8em;
      }
    }

    &__article--basic:hover {
      @include pricing-article-hover($color-2);
    }

    &__article--professional:hover {
      @include pricing-article-hover($color-1);
    }

    &__article--premium:hover {
      @include pricing-article-hover($color-3);
    }

  }

  .main__contact {
    height: 376px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 896px;
    margin: 6em auto 5em;
    justify-content: flex-start;

    &__title {
      width: 50%;
      margin-top: 0;
      font-size: 3rem;
    }

    &__info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .contact__info__mail {
        display: inline-block;
      }
      
      .contact__info__tel {
        display: inline-block;
        margin-left: 1em;
      }

    }

    &__form {
      width: 50%;

      .contact__form__label[for="name"] {
        margin-top: 0;
      }

      .contact__form__checkbox {
        margin-top: 2em;
      }

      .checkbox__label {
        width: 90.5%;
      }

    }

  }

  .footer {
    &__text {
      margin-left: 8.5em;
    }

    &__social-media {
      margin-right: 10em;
    }
  }

}
