
@mixin bottom-image($bottom-padding-top, $bottom-width, $z-index-bottom) {
  width: $bottom-width;
  padding-top: $bottom-padding-top;
  z-index: $z-index-bottom;
}

@mixin top-image($top-width, $top, $left, $z-index-top) {
  width: $top-width;
  top: $top;
  left: $left;
  z-index: $z-index-top;
}

@mixin about-article($container-margin-top, $bottom-padding-top, $bottom-width, $z-index-bottom, $top-width, $top, $left, $z-index-top, $hr-color) {

  .about__article__media__container--mobile {
    margin-top: $container-margin-top;
  }

  .about__article__media {

    &__bottom__img {
      height: auto;
      display: inline-block;
      position: relative;

      @include bottom-image($bottom-padding-top, $bottom-width, $z-index-bottom);
      
    }

    &__top__img {  
      height: auto;
      display: inline-block;
      position: absolute;  

      @include top-image($top-width, $top, $left, $z-index-top);
      
    }
  }

  .article__container__content__hr {
    border: 2px solid $hr-color;
  }
}

.main__about {

  @media only screen and (min-width: 1000px) {

      display: flex;
      flex-direction: column;
      padding-left: 4em;
      padding-right: 4em;
      padding-bottom: 3em;
  
      .article__container__content--primary, .article__container__content--secondary {
        margin-top: 3em !important;
      
      }
  
      .about__article__container, .about__article__media__container {
        width: 50%;
      }
  
      .about__article__media__container--mobile {
        display: none;
      }
  
      .main__about__article {
        display: flex;
        flex-direction: row;
        margin: 0 auto 2em;
        max-width: 1126px;
        height: 370px;
  
  
        &.laptop {
          flex-direction: row-reverse;
          justify-content: space-between;
  
          .article__container__content--secondary {
            padding-right: 8em;
          }
    
          .about__article__media__container--landscape {
            display: inline-block;
            position: relative;
            margin-bottom: 2em;
    
            .about__article__media{
              
              &__bottom__img {
                width: 100%;
                max-width: 320px;
                margin-right: 7.5em;
                margin-top: 7em;
                padding-top: 0;
     
              }
    
              &__top__img {
                width: 255px;
                top: 1.8em;
                left: 7em;
                
              }
            
            }
    
          }
  
        }
  
        &.mobile {
          justify-content: space-between;
  
          .about__article__container {
            width: 41%;
          }
    
          .about__article__media__container--landscape {
            display: inline-block;
            position: relative;
            margin-bottom: 2em;
    
            .about__article__media{
              
              &__bottom__img {
                // width: 320px;
                width: 100%;
                max-width: 320px;
                margin-left: 4.3em;
                margin-top: 0.8em;
     
              }
    
              &__top__img {
                width: 426px;
                top: 1.8em;
                left: 4.5em;
                
              }
            
            }
    
          }
    
        }
  
  
        &.trumpet {
          background: transparent;
          border: unset;
  
          .article__container__content--secondary {
            padding-right: 11em;
          }
    
          .about__article__container {
            background: white;
            border: 1px solid #E8E9ED;
            flex-grow: 1;
          }
    
          .about__article__media__container {
            margin-left: 2em;
            width: 40%;
          }
    
          .about__article__media__container--landscape {
            display: inline-block;
            position: relative;
            margin-top: 0;
            margin-left: 3.5em;
            width: 40%;
    
            .about__article__media {
              &__bottom__img {
                height: 100%;
                max-height: unset;
                top: 0px;
              }
    
              &__top__img {
                transform: scale(0.7) translate(-50%, -50%);
                transform-origin: top left;
                top: 56%;
                left: 45%;
              }
    
            }
            
          }
    
        }
        
      }  
  
      .article__container__content__hr {
          display: block;
      }

  }

  background-color: $color-4;
  padding-top: 40px;
  padding-bottom: 0.5em;

  &__article {

    position: relative;
    margin: 0 2em 2.8em;
    background-color: white;
    border: 1px solid #E8E9ED;
  
    .about__article__media__container--landscape {
      display: none;
    }
  
    .about__article__media__container--mobile {
      position: relative;
    }

    .article__container__content__hr {
      display: none;
      width: 327px;
      margin-top: 2em;
    }

    &.laptop {
      @include about-article(1em, 1.2em, min(192px, 100%), 6, 89px, 0, calc(50% + 10px), 0, $color-2);
    }

    &.mobile {
      @include about-article(0.6em, 0, min(131px, 100%), 0, 175px, 6px, calc(50% - 65px), 1, $color-1);
    }

    &.trumpet {

      @include about-article(0, 0, 100%, 0, 100%, 0, 0, 1, $color-3);
      
      .about__article__media {
        &__bottom__img {
          max-height: 270px;
          top: 4px;
        }

        &__top__img {
          max-width: 462px;
          top: 50%;
          left: 50%;
          transform-origin: center center;
          transform: translate(-53%, -36%);
        }

      }
      
    }
  
  }

  .about__article__container {
    padding: 0 2em 1.6em;
    
    .article__container__content--primary {
      font-family: Raleway;
      font-size: 1.9rem;
      font-weight: 400;
      line-height: 35.22px;
      text-align: left;
      margin-top: 1em;
      
    }
  
    .article__container__content--secondary {
      font-family: 'Open Sans';
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
  
    }

  }

}