
@mixin pricing-article-card-subscription($color, $pack-width, $pack-left, $pack-top) {
  border: 1px solid $color;

  .pricing__article__pack {
    width: $pack-width;
    left: $pack-left;
    top: $pack-top;

    &__value {
      color: $color;
    }
  }

  .pricing__article__button {
    background-color: $color;
  }
}


.main__pricing {
  text-align: center;

  &__title {
    font-family: Raleway;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 42.26px;
    text-align: center;
    margin-top: 1.6em;
    margin-bottom: 0.4em;

  }

  &__currency {
    width: 100%;
    margin-bottom: 2em;

    .currency__title, .currency__selector {
      display: inline-block;
    }

    .currency__title {
      font-family: Raleway;
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 1em;
      margin-right: 1em;
    }

    .currency__selector {

      .selector-expanded {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &__button {
        padding: 0.6em 1em 0.6em 1.2em;
        border-radius: 0.4em;
        border: 1px solid #a5a5a5;
        font-family: Raleway;
        font-size: 1rem;
        font-weight: 600;
        position: relative;
        padding-left: 4em;
        background-color: white;
        z-index: 1;
        cursor: pointer;

        img {
          position: absolute;
          height: 100%;
          top: 0em;
          left: 0.8em;
        }

      }
      

      &__list {
        border: 1px solid #aa9e9e;
        border-top-width: 0px;
        vertical-align: middle;
        padding: 0.3em 0.75em 0.3em 0.6em;
        position: absolute;
        margin-top: 0;
        border-radius: 0em 0em 0.4em 0.4em;
        background: white;
        z-index: 1;
        box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2901960784);
        display: none;

        &.show-currencies {
          display: block;
        }

        &__item:hover, &__item:active {
          color: black;
        }

        &__item {
          // border: 1px solid green;
          color: #a59f9f;
          line-height: 40px;
          vertical-align: middle;
          height: 40px;
          position: relative;
          padding-left: 3.2em;
          padding-right: 0.4em;
          list-style-type: none;
          margin: 0.4em 0;
          font-family: Raleway;
          font-size: 1rem;
          font-weight: 600;
          cursor: pointer;

          img {
            height: 100%;
            position: absolute;
            top: 0em;
            left: 0.2em;
          }

        }

      }
    }

  }

  &__article {
    position: relative;
    width: 293px;
    height: 251px;
    border-radius: 18px;
    margin: 0 auto;
    margin-bottom: 3.5em;
    transition: all .2s ease-in-out; 
  
    .pricing__article__pack {
      display: inline-block; 
      position: relative;

    &__title {
      font-family: Raleway;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 24px;
    }

    &__value {
      font-family: 'Open Sans';
      font-size: 2.9rem;
      font-weight: 300;
      line-height: 64px;
    }

    &__offer {
      font-family: Raleway;
      font-size: 0.8rem;
      font-weight: 700;
      line-height: 14.09px;
    }
  }

    .pricing__article__features {
      display: inline-block;
      position: relative;
      top: 2.4em;
      left: 0em;    
      list-style-type: none; 
      padding: 0; 
      margin: 0; 
      text-align: left;

    &__item {
      padding-bottom: 1em;
      font-family: 'Open Sans';
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 19.07px;

        &__img {
          margin-right: 0.8em;
        }
      }

    }

  .pricing__article__button {
    position: absolute;
    width: 150px;
    height: 50px;
    border-radius: 1.7em;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    border: none;
    font-family: 'Open Sans';
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;

    }

    &.basic {
      @include pricing-article-card-subscription($color-2, 45%, -0.4em, 0.3em);
    }

    &.professional {
      @include pricing-article-card-subscription($color-1, 44%, -0.1em, 1.6em);
    }

    &.premium {
      @include pricing-article-card-subscription($color-3, 45%, -0.2em, 1.8em); 
    }
  }

}

