

@mixin bottom-media($z-index-bottom) {
  position: relative;
  z-index: $z-index-bottom;
}

@mixin bottom-image($bottom-width) {
  width: $bottom-width;
  height: auto;
  display: inline-block;
  padding-top: 19px;
}

@mixin top-media($top, $left, $z-index-top) {
  position: absolute;
  top: $top;
  left: $left;
  z-index: $z-index-top;
}

@mixin top-image($top-width, $scale) {
  width: $top-width;
  height: auto;
  display: inline-block;
  transform: scale($scale);
}

@mixin about-article($bottom-width, $z-index-bottom, $top, $left, $z-index-top, $top-width, $scale) {
  position: relative;
  margin: 0 30px 35px 30px;
  background-color: white;
  border: 1px solid #E8E9ED;
  padding: 0 21px 25px 21px;

  .about__article__media {
    &__bottom {
      @include bottom-media($z-index-bottom);

      &__img {
        @include bottom-image($bottom-width);
      }
    }

    &__top {      
      @include top-media($top, $left, $z-index-top);

      &__img {
        @include top-image($top-width, $scale);
      }
    }
  }
}

.main__about {
  background-color: $color-4;
  background-color: #F7F7F7;
  padding-top: 40px;
  padding-bottom: 20px;

  &__article--laptop {
    @include about-article(min(192px, 100%), 6, 0, calc(50% + 10px), 0, min(192px, 100%), 1);
  }

  &__article--mobile {
    @include about-article(min(131px, 100%), 0, 25px, calc(50% - 65px), 1, min(175px, 100%), 1);
  }

  &__article--trumpet {
    @include about-article(0, 0, 0, 0, 0, 0, 0);
  }

  .about__article__content--primary {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
    line-height: 35.22px;
    text-align: left;
    
  }

  .about__article__content--secondary {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

  }

  // &__media_container {
  //   position: relative;
  //   height: 195px;
  //   margin: 0 30px 35px 30px;
  //   background-color: #55DFB4;
  //   border: 1px solid #E8E9ED;
  //   padding: 0 21px 25px 21px;
  //   margin-top: -35px;
  // }
}