
@mixin top-media($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin top-image($scale) {
  width: min(62px, 100%);
  height: auto;
  display: inline-block;
  transform: scale($scale);
}

@mixin overview-article($top, $left, $scale) {
  position: relative;
  .overview__article__media {
    &__bottom {

      &__img {
        width: min(62px, 100%);
        height: auto;
        display: inline-block;
      }
    }

    &__top {      
      @include top-media($top, $left);

      &__img {
        @include top-image($scale);
      }
    }
  }
}

.main__overview {

  &__article {
    position: relative;
  }
  
  &__title {
    font-family: Raleway;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
  }

  &__article--entries {
    @include overview-article(-8px, calc(50% - 25px), 0.7);

  }

  &__article--products {
    @include overview-article(12px, calc(50% - 11px), 1);

  }

  &__article--posts {
    @include overview-article(6px, calc(50% - 1px), 1);

  }
  
  .overview__article__content--primary {
    font-family: Raleway;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 5.960000038146973px;
    text-align: center;
  }
  
  .overview__article__content--secondary {
    font-family: Raleway;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
}

