

.main__contact {
  text-align: left;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 3em;
  
  &__title {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 400;
    line-height: 46.96px;
    margin-bottom: 0.1em;
    margin-top: 2em;
    
  }

  &__subtitle {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 2em;

  }

  &__info {
    margin-bottom: 3.5em;

    .contact__info {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      color: #A5A5A5; 
      position: relative;
      padding-left: 2.2em;
      margin-bottom: 1em;

      &__img {
        position: absolute;
        top: 0;
        left: 0;
      }

    }

  }

  &__form {
    text-align: right;

    .contact__form__label {
      display: block;
      font-family: Open Sans;
      font-size: 11px;
      font-weight: 600;
      line-height: 14.98px;
      letter-spacing: 3.2799999713897705px;
      text-align: left;
      text-transform: uppercase;
      color: $color-1;
      margin-top: 3em;
      margin-bottom: 1em;

    }

    .contact__form__input {
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #95989A;
      height: 28px;
      outline: 0px solid transparent;
      
    }

    .contact__form__submit {
      width: 226px;
      height: 57px;
      gap: 0px;
      border-radius: 35px;
      opacity: 0px;
      background: $color-1;
      box-shadow: 5px 10px 14px 0px #07ACE64A;
      border: none;
      color: white;

    }

  }

}