
.main__overview {

  &__article {
    position: relative;
  }
  
  &__title {
    font-family: Raleway;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
  }
  
  &__article__media_1__img {
    width: min(62px, 100%);
    height: auto;
    display: inline-block;
  }
  
  &__article__media_1_top {
    position: absolute;
    top: -8px;
    left: calc(50% - 25px);
  }
  
  &__article__media_1_top__img {
    width: min(62px, 100%);
    height: auto;
    display: inline-block;
    transform: scale(0.7);
  }
  
  &__article__media_2__img {
    width: min(62px, 100%);
    height: auto;
    display: inline-block;
  }
  
  &__article__media_2_top {
    position: absolute;
    top: 12px;
    left: calc(50% - 11px);
  }
  
  &__article__media_2_top__img {
    width: min(62px, 100%);
    height: auto;
    display: inline-block;
    transform: scale(1);
  }
  
  &__article__media_3__img {
    width: min(62px, 100%);
    height: auto;
    display: inline-block;
  }
  
  &__article__media_3_top {
    position: absolute;
    top: 6px;
    left: calc(50% - 1px);
  }
  
  &__article__media_3_top__img {
    width: min(62px, 100%);
    height: auto;
    display: inline-block;
    transform: scale(1);
  }
  
  &__article__content_primary {
    font-family: Raleway;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 5.960000038146973px;
    text-align: center;
  }
  
  &__article__content_secondary {
    font-family: Raleway;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
}

