

.header {

  @media only screen and (min-width: 1000px) {

    .header {
      padding-top: 6.2em;
      
      &__title {
        font-size: 3rem;
      }
  
      &__button {
        width: 27.5em;
        margin: 0;
      }
  
      &__media {
        height: 41vw;
        max-height: 594px;
        background-size: cover;
        background-image: url("../images/Background 2.png");
      }
      
    }

  }

  position: relative;
  top: 70px;
  text-align: center;
  padding-top: 5.8em;

  &__title {
    font-family: Raleway;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 41.09px;
    text-align: center;
    margin-bottom: 0.8em;

  }

  &__subtitle {
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin: 0 2.6em;
    margin-bottom: 2em;
    
  }

  &__button {
    box-shadow: 5px 10px 14px 0px #07ACE64A;
    background-color: $color-1;
    border-radius: 2.5em;
    border: none;
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: white;
    width: 19.5em;
    height: 4.2em;
    margin-bottom: 3em;
    cursor: pointer;
  }

  &__media {
    display: block;
    height: max(72vw, 15em);
    max-height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/Background 1.jpg");
  }

}