@import "../sections/main-overview";
@import "../sections/main-about";
@import "../sections/main-pricing";
@import "../sections/main-contact";
@import "../sections//main-slider";

.main {
  position: relative;
  top: 70px;
  text-align: center;
  padding-top: 1em;
}
